#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#home{
    height: 370px; 
    padding: 3px 28px;
}
 #home::before{
    height: 480px; 
}      

#home p {
    font-size: 13px;
}

#services{
    flex-direction: column;
}
#services .box{
    
    padding:14px;
    margin: 2px 0px;
    margin-bottom: 20px;
   

}
#services .box img{
    
    width: 150px;
    height: 150px;

}
#clients{
    flex-wrap: wrap;
}
#clients img {
    width: 190px;
    padding:20px; 
    height: auto;  
 }
 
 #client-section{
  background-color: rgb(255, 227, 190);  

}


/* #contact{

}
#footer{

} */
.h-primary{
    font-size: 26px;
}
.btn{   
    font-size: 13px;
    padding: 4px 8px;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 1.5em;
    }

    .header p, .quote {
        font-size: 0.9em;
    }

    .content {
        padding-top: 10px;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.2em;
    }

    .header p, .quote {
        font-size: 0.8em;
    }
}